<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Cinépolis | Creación de Cartelera</title>
     <!--  --> <link rel="stylesheet" type="text/css" href="bootstrap/css/theme.css" />
 	<link rel="stylesheet" href="bootstrap/css/estilos.css">
    
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" >
    
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">

    <!-- Carga del CSS de "Bootstrap" -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Carga del CSS de "Font Awesome" -->
    <link rel="stylesheet" href="/css/all.css">

    <!-- Carga del CSS de "Swiper" -->
    <link rel="stylesheet" href="/css/swiper.min.css">

    <!-- Carga del CSS de "VenoBox" -->
    <link rel="stylesheet" href="/css/venobox.css">

    <!-- Carga del CSS de "Jarallax" -->
    <link rel="stylesheet" href="/css/jarallax.css">

    <!-- Carga del CSS de "Pickadate.js" -->
    <link rel="stylesheet" href="/js/pickadate.js/themes/default.css">


    <!-- Carga del CSS de "Date Picker" -->
    <link rel="stylesheet" href="/js/pickadate.js/themes/default.date.css">


    <!-- Carga del CSS de "Time Picker" -->
    <link rel="stylesheet" href="/js/pickadate.js/themes/default.time.css">

<!-- Carga de Fuentes de google-->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">


    <!-- Carga del CSS personalizado -->
    <link rel="stylesheet" href="/css/estilos.css">
  </head>
    <!-- Carga del CSS de "Bootstrap" -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Carga del CSS de "Font Awesome" -->
    <link rel="stylesheet" href="css/all.css">

    <!-- Carga del CSS de "Swiper" -->
    <link rel="stylesheet" href="css/swiper.min.css">

    <!-- Carga del CSS de "VenoBox" -->
    <link rel="stylesheet" href="css/venobox.css">

    <!-- Carga del CSS de "Jarallax" -->
    <link rel="stylesheet" href="css/jarallax.css">

    <!-- Carga del CSS de "Pickadate.js" -->
    <link rel="stylesheet" href="js/pickadate.js/themes/default.css">

  

  <body>

<body>
   
   	<header th:replace="layout/layout :: barra"></header>
   

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header text-center"><strong>Datos de la Cartelera</strong></h4>              
          <div class="card-body">
            <form th:action="@{/cartelera/save}" method="post" th:object="${cartelera}" enctype="multipart/form-data">
              <div th:if="${#fields.hasErrors('*')}"class='alert alert-danger' role='alert'>
				Por favor corrija los siguientes errores:
				<ul>
				<li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
				</ul>
			  </div>    
		
              
    
               
                
      					<center>

							<div class="col-md-3">
								<!--  
             	 <label for="imagen">Imagen</label>
             	 -->
								<img class="rounded mx-auto d-block"
									th:src="@{/logos/{img} (img=${cartelera.archivo}) }"
									alt="Generic placeholder image" width="250" height="350">
							</div>

							<div class="col-md-3">
								<div class="form-group">
									<label for="archivoImagen"></label> <input type="file"
										class="form-control-file" name="archivoImagen"
										id="archivoImagen">
								</div>
							</div>
						</center>
      
							
								<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="nombre">Titulo</label> <input type="hidden"
										th:field="*{id}"> <input type="hidden"
										th:field="*{archivo}"> <input type="text"
										class="form-control" th:field="*{titulo}" id="nombre"
										name="titulo" placeholder="Titulo de la cartelera"
										required="required">
								</div>
							</div>
							 
            
            
	
							
										<div class="col-md-6">
								<div class="form-group">
									<label for="estado">Estado</label> <select
										class="form-control" name="estado" th:field="*{estado}"
										id="estado">
										<option value="Creada">Inactiva</option>
										<option value="Aprobada">Activa</option>
										<option value="Eliminada">Eliminada</option>
									</select>
								</div>
							</div>
 
              </div>
            
    	   <input type="hidden" th:field="*{id}">
             
             
             

              <hr>
              <div class="text-center">
              <button type="submit" title="Guardar cartelera" class="btn btn-primary text-center">Guardar Cartelera</button>  
              </div>
            </form>
          </div>
        </div>
      </div> <!-- /container -->
    </main>

     	<header th:replace="layout/layout :: ajustar"></header>

     	<header th:replace="layout/layout :: pie"></header>
  
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script th:src="@{/tinymce/tinymce.min.js}"></script>
    <script>
      $(function () {
          $("#fecha").datepicker({dateFormat: 'dd-mm-yy'});
        }
      );
      
      tinymce.init({
          selector: '#sinopsis',
          plugins: "textcolor, table lists code",
          toolbar: " undo redo | bold italic | alignleft aligncenter alignright alignjustify \n\
                    | bullist numlist outdent indent | forecolor backcolor table code"
      });
      
    </script>
  </body>
</html>