<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Cinepolis | Creación de Generos</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
        
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">

    <!-- Carga del CSS de "Bootstrap" -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Carga del CSS de "Font Awesome" -->
    <link rel="stylesheet" href="/css/all.css">

    <!-- Carga del CSS de "Swiper" -->
    <link rel="stylesheet" href="/css/swiper.min.css">

    <!-- Carga del CSS de "VenoBox" -->
    <link rel="stylesheet" href="/css/venobox.css">

    <!-- Carga del CSS de "Jarallax" -->
    <link rel="stylesheet" href="/css/jarallax.css">

    <!-- Carga del CSS de "Pickadate.js" -->
    <link rel="stylesheet" href="/js/pickadate.js/themes/default.css">


    <!-- Carga del CSS de "Date Picker" -->
    <link rel="stylesheet" href="/js/pickadate.js/themes/default.date.css">


    <!-- Carga del CSS de "Time Picker" -->
    <link rel="stylesheet" href="/js/pickadate.js/themes/default.time.css">

<!-- Carga de Fuentes de google-->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">


    <!-- Carga del CSS personalizado -->
    <link rel="stylesheet" href="/css/estilos.css">
    
    
  </head>

<body>
   	<header th:replace="layout/layout :: barra"></header>
   

    <main role="main">     
      <br/>
      <div class="container"> 

        <div class="card ">
        <div class="text-center" style="color: red;">
        <h4 class="card-header "><strong >Sección de Genero</strong></h4>   
        </div>     
          <div class="card-body">
            <form th:action="@{/generos/save}" th:object="${genero}" method="post"> 
                        
              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="nombre">Nombre</label>              
                    <input type="hidden" th:field="*{id}">
                    <input type="text" class="form-control" th:field="*{nombre}" placeholder="Escriba el nombre de la categoria" required="required">
                  </div>
                </div>                
              </div> 
              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <textarea class="form-control" th:field="*{descripcion}" rows="2"></textarea>
                  </div> 
                </div>                
              </div> 
              <br/>
              
              <div class="text-center">
              <button type="submit" class="btn btn-outline-info">Guardar</button> 
              </div> 
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

<br/>
<br/>
<br/>

<br/>
<br/>
<br/>

<br/>
<br/>
<br/>

	<header th:replace="layout/layout :: ajustar"></header>


	<header th:replace="layout/layout :: pie"></header>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>
